In [59]:
import pandas as pd
import numpy as np

df = pd.read_csv("transformed_data.csv", header=0)

In [60]:
df['engine_capacity_cc'].unique()

array(['Data missing or out of range', '1197', '1395', '1991', '1796',
       '1390', '999', '2993', '1798', '1499', '1596', '1998', '125',
       '1399', '1598', '2143', '1477', '2198', '2487', '1364', '2261',
       '1797', '1595', '1332', '1950', '2488', '998', '3199', '1198',
       '1498', '2148', '1580', '1995', '1328', '1591', '1400', '2521',
       '996', '1339', '1968', '1329', '2499', '647', '1299', '1397',
       '1500', '1229', '1560', '2967', '12777', '1360', '1799', '1685',
       '1388', '1248', '2299', '698', '1999', '1769', '10837', '5132',
       '2987', '1368', '1149', '1086', '1790', '1482', '1398', '1910',
       '2000', '1199', '1994', '1584', '2494', '1389', '4500', '1497',
       '6700', '1461', '1997', '2400', '1956', '2998', '1984', '1868',
       '2996', '4951', '1386', '1200', '2298', '108', '3498', '2995',
       '649', '1333', '1587', '1242', '2461', '2300', '2295', '2200',
       '2463', '1586', '2184', '4367', '1496', '1296', '745', '2393',
       '6693', '4580', '12740', '1791', '2362', '796', '3189', '1969',
       '898', '875', '124', '278', '1597', '4395', '1599', '1240', '2925',
       '4485', '599', '2720', '1996', '2997', '2922', '1396', '4461',
       '2776', '1896', '6728', '2999', '4398', '1318', '2402', '2191',
       '9360', '2151', '2755', '12742', '689', '279', '2287', '5204',
       '1246', '2979', '2497', '988', '110', '1800', '1353', '1794',
       '1490', '900', '292', '2231', '249', '3982', '1600', '9600',
       '8710', '3311', '10677', '1686', '4000', '12419', '1237', '1362',
       '782', '500', '1753', '4691', '2179', '4999', '995', '1590',
       '3996', '3200', '2398', '800', '1895', '5950', '1900', '2360',
       '12809', '9000', '3745', '3456', '7698', '1976', '1781', '5998',
       '1992', '650', '1750', '749', '1973', '3724', '4806', '1988',
       '750', '6750', '3600', '2480', '1262', '5000', '1341', '1618',
       '1285', '1990', '2199', '1300', '2204', '2970', '2933', '2171',
       '2597', '3999', '2926', '12902', '1582', '1970', '1000', '1373',
       '847', '1987', '2953', '1330', '1061', '1043', '1975', '1337',
       '1604', '1349', '2894', '1993', '1206', '2685', '600', '937',
       '4197', '899', '198', '3799', '1422', '1870', '8268', '2401',
       '2656', '2500', '2698', '5461', '659', '4663', '2290', '2435',
       '973', '1084', '1124', '3000', '1363', '3604', '1120'],
      dtype=object)

In [61]:
# column summaries
pd.DataFrame([i for i in zip(df.columns, df.dtypes, df.nunique())], columns=['column', 'dtype', 'nunique'])

                                     column    dtype  nunique
0                               longitude.x  float64     6353
1                                latitude.x  float64     6309
2                                    date.x   object      365
3                               day_of_week   object        7
4                                      time   object     1055
5                          first_road_class   object        4
6                                 road_type   object        6
7                               speed_limit    int64        6
8                           junction_detail   object       10
9                          junction_control   object        6
10                        second_road_class   object        5
11        pedestrian_crossing_human_control   object        5
12  pedestrian_crossing_physical_facilities   object        8
13                         light_conditions   object        5
14                       weather_conditions   object        9
15                  road_surface_conditions   object        7
16               special_conditions_at_site   object        9
17                      carriageway_hazards   object        7
18                      urban_or_rural_area   object        2
19                                     RH2M  float64      525
20                                      T2M  float64      877
21                              PRECTOTCORR  float64      388
22                                     WS2M  float64      483
23                          sex_of_casualty   object        3
24                          age_of_casualty  float64       93
25                     age_band_of_casualty   object       12
26                        casualty_severity   object        3
27                  casualty_home_area_type   object        4
28                      casualty_imd_decile   object       11
29                         lsoa_of_casualty   object     3635
30                         accident_index_2    int64     6541
31                             vehicle_type   object       19
32                          vehicle_subtype   object        8
33                  towing_and_articulation   object        7
34                        vehicle_manoeuvre   object       20
35         vehicle_location_restricted_lane   object       12
36                        junction_location   object       11
37                 skidding_and_overturning   object        5
38                hit_object_in_carriageway   object       10
39              vehicle_leaving_carriageway   object       10
40               hit_object_off_carriageway   object        7
41                    first_point_of_impact   object        7
42                  vehicle_left_hand_drive   object        3
43                       engine_capacity_cc   object      269
44                          propulsion_code   object        7
45                           age_of_vehicle    int64       32
46                journey_purpose_of_driver   object        6
47                            sex_of_driver   object        3
48                            age_of_driver  float64       83
49                       age_band_of_driver   object       10
50                        driver_imd_decile   object       11
51                    driver_home_area_type   object        4
52                           lsoa_of_driver   object     3168

In [62]:
# drop lsoa variables
# keep longitude, latitude, date as I may use these in future to join to extra data, but do not use in model
# remove age variables and keep age_band variables
df = df.drop(columns=['lsoa_of_casualty', 'lsoa_of_driver', 'age_of_casualty', 'age_of_driver'])

# categorise speed_limit
df['speed_limit'] = df['speed_limit'].astype('object')

# convert engine_capacity_cc to continuous
df['engine_capacity_cc'] = df['engine_capacity_cc'].replace('Data missing or out of range', np.nan).astype('float')

In [63]:
# drop variables that are unlikely to be predictive (using own judgement)
# pedestrian crossings should not be relevant to cyclists, assuming cyclists are cycling on the road
# age of vehicle not important - aggressive or careless drivers could equally be driving a new car or an old car
df = df.drop(columns=['pedestrian_crossing_human_control', 'pedestrian_crossing_physical_facilities', 'age_of_vehicle'])

In [64]:
# check there are no duplicates
dups = df.duplicated()
dups.any()

False

next steps
- check % missing by variable
- consider imputing or dropping variables with high % missing
- create new date and time variables (bin time into 4 hour periods)
- look at variable distributions - transform to log if necessary
- look at correlation/multicollinearity between variables
- PCA?
- chi-square to pick useful variables